@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.wrapper {
  @include flexbox.flexbox(center, center);
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
  color: colors.$DARK_GRAY3;

  img {
    width: 50px;
    height: 20px;
  }
}
