@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;

  header {
    @include flexbox.flexbox(center, center);
    background-color: colors.$WHITE;
    border-bottom: 1px solid colors.$GRAY3;

    @include responsive.after(SD) {
      justify-content: start;
      height: 60px;
      padding-left: 10px;
    }

    .nav {
      display: none;

      @include responsive.after(SD) {
        display: block;
        width: 280px;
        margin-left: 40px;
        font-size: 18px;
      }
    }
  }

  main {
    @include flexbox.flexbox(start, center);
    flex-direction: column;
    flex-grow: 1;
    padding-top: 15px;
    overflow: hidden;
    background-color: colors.$GRAY6;

    @include responsive.after(SD) {
      padding-top: 30px;
    }

    .content {
      display: flex;
      flex-direction: column;
      width: 320px;
      height: 100%;

      @include responsive.after(SD) {
        width: 80%;
        margin-bottom: 0;
      }
    }
  }

  footer {
    width: 100%;
    background-color: colors.$WHITE;
    border-top: 1px solid colors.$GRAY3;

    @include responsive.after(SD) {
      display: none;
    }
  }
}
