@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';

body {
  background-color: colors.$LIGHT_BLUE2;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;

  @include responsive.after(HD) {
    width: 1300px;
    margin: 0 auto;
  }

  .header {
    @include flexbox.flexbox(center, center);
    background-color: colors.$WHITE;
    border-bottom: 1px solid colors.$GRAY3;

    .nav {
      display: none;
    }
  }

  main {
    @include flexbox.flexbox(start, center);
    flex-direction: column;
    flex-grow: 1;
    padding-top: 15px;
    overflow: hidden;
    background-color: colors.$GRAY6;

    .content {
      display: flex;
      flex-direction: column;
      width: 320px;
      height: 100%;
    }
  }

  footer {
    width: 100%;
    background-color: colors.$WHITE;
    border-top: 1px solid colors.$GRAY3;
  }

  @include responsive.after(SD) {
    .header {
      justify-content: start;
      height: 60px;
      padding-left: 10px;

      .nav {
        display: block;
        width: 280px;
        margin-left: 40px;
        font-size: 18px;
      }
    }

    main {
      padding-top: 30px;

      .content {
        width: 80%;
        margin-bottom: 0;
      }
    }

    footer {
      display: none;
    }
  }
}
