@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  margin-bottom: 20px;
  border: 1px solid colors.$GRAY2;
  border-radius: 5px;

  &:focus-within {
    outline: 2px solid colors.$BLUE;
  }

  .user {
    display: flex;
    margin-bottom: 10px;

    svg {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      fill: colors.$GRAY4;
    }

    input {
      width: 100%;
    }
  }

  .content {
    display: flex;
    align-items: center;

    textarea {
      flex-grow: 1;
      resize: none;
      border: none;
    }

    button[type='submit'] {
      width: 50px;
      height: 30px;
      line-height: 30px;
      color: colors.$WHITE;
      background-color: colors.$BLUE;
      border-radius: 5px;
    }
  }
}
