@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';

.wrapper {
  padding: 10px 15px;
  margin-top: 20px;

  h3 {
    font-size: 18px;
    font-weight: bold;
  }

  ul {
    padding: 0 5px;
    margin-bottom: 30px;
  }
}
