@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;

  header {
    background-color: colors.$WHITE;
    border-bottom: 1px solid colors.$GRAY3;
  }

  main {
    flex-direction: column;
    flex-grow: 1;
    padding: 0 10px;
    padding-top: 15px;
    background-color: colors.$GRAY6;

    @include flexbox.flexbox(start, center);
  }

  footer {
    // position: sticky;
    // bottom: 0;
    width: 100%;
    background-color: colors.$WHITE;
    border-top: 1px solid colors.$GRAY3;
  }
}
