@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.app {
  header {
    margin-bottom: 15px;
    background-color: colors.$WHITE;
    border-bottom: 1px solid colors.$GRAY3;
    box-shadow: #00000029 0 1.5px 4px;
  }

  main {
    @include flexbox.flexbox(center, center);
    flex-direction: column;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: colors.$WHITE;
    border-top: 1px solid colors.$GRAY3;
    box-shadow: #00000029 0 -1.5px 4px;
  }
}
