@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.app {
  background-color: colors.$GRAY6;

  main {
    @include flexbox.flexbox(center, center);
    flex-direction: column;
    padding-bottom: 60px;
    overflow: auto;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
