@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.refreshBtn {
  padding: 5px;
  background-color: colors.$WHITE;
  border: 1px solid colors.$GRAY3;
  border-radius: 5px;

  svg {
    width: 10px;
    height: 10px;

    @include responsive.after(SD) {
      width: 15px;
      height: 15px;
    }
  }
}
