@use '/src/styles/constants/colors';
@use '/src/styles/mixins/position';
@use '/src/styles/mixins/responsive';

.wrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;

  .circle {
    width: 15px;
    height: 15px;
    border: 1.5px solid colors.$DARK_GRAY3;
    border-radius: 50%;
  }

  .line {
    position: relative;
    flex-grow: 1;
    margin: 0 4px;
    border-top: 1px solid colors.$DARK_GRAY3;

    .iconBox {
      @include position.middleBox;
      padding: 0 5px;
      background-color: colors.$WHITE;

      svg {
        display: block;
        transform: rotate(90deg);
      }
    }
  }

  @include responsive.after(SD) {
    .circle {
      width: 20px;
      height: 20px;
    }

    .line {
      border-top: 2px solid colors.$GRAY2;

      .iconBox {
        svg {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
