@use '/src/styles/mixins/typography';

li.wrapper {
  display: flex;
  height: 25px;
  font-size: 12px;
  line-height: 25px;
  border-top: 1px solid;
  border-bottom: 1px solid;

  div {
    @include typography.lineClamp(1);
    flex-shrink: 0;
    text-align: center;
    border-right: 1px solid;

    &:first-child {
      border-left: 1px solid;
    }
  }

  .t1 {
    width: 70px;
  }

  .t2 {
    width: 80px;
  }

  .t3 {
    width: 80px;
  }

  .t4 {
    width: 45px;
  }

  .t5 {
    width: 45px;
  }
}
