@use '/src/styles/constants/colors';

.wrapper {
  position: relative;
  margin-bottom: 10px;
  background-color: colors.$WHITE;
  border: 1px solid colors.$GRAY3;
  border-left: none;
  border-radius: 0 5px 5px 0;

  &::after {
    position: absolute;
    top: -1px;
    left: 0;
    display: block;
    width: 3px;
    height: calc(100% + 2px);
    content: '';
    background-color: colors.$TEAL;
  }

  &.green {
    &::after {
      background-color: colors.$GREEN;
    }
  }

  &.orange {
    &::after {
      background-color: colors.$ORANGE;
    }
  }

  &.yellow {
    &::after {
      background-color: colors.$YELLOW;
    }
  }

  &.teal {
    &::after {
      background-color: colors.$TEAL;
    }
  }

  &.indigo {
    &::after {
      background-color: colors.$INDIGO;
    }
  }

  &.purple {
    &::after {
      background-color: colors.$PURPLE;
    }
  }
}
