@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.wrapper {
  width: 320px;
  background-color: colors.$WHITE;
  border: 1px solid colors.$GRAY3;
  border-radius: 5px;
  box-shadow: rgb(0, 0, 0, 16%) 0 1px 4px;

  .title {
    display: flex;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    color: colors.$WHITE;
    background-color: colors.$BLUE;
    border-radius: 5px 5px 0 0;

    div {
      text-align: center;
      border-right: 1px solid colors.$WHITE;

      &:last-child {
        border-right: none;
      }
    }
  }

  .t1 {
    width: 60px;
  }

  .t2 {
    width: 85px;
  }

  .t3 {
    width: 85px;
  }

  .t4 {
    width: 45px;
  }

  .t5 {
    width: 45px;
  }

  ul {
    width: 100%;
    height: 72vh;
    overflow: auto;
  }
}
