@use '/src/styles/mixins/typography';
@use '/src/styles/constants/colors';

li.wrapper {
  border-bottom: 1px solid colors.$GRAY4;

  &:last-child {
    border-bottom: none;
  }

  button {
    display: flex;
    height: 35px;
    font-size: 12px;
    line-height: 35px;

    &:hover {
      background-color: colors.$LIGHT_BLUE;
    }
  }

  div {
    @include typography.lineClamp(1);
    text-align: center;
    border-right: 1px solid colors.$GRAY4;

    &:last-child {
      border-right: none;
    }
  }

  .t1 {
    width: 60px;
  }

  .t2 {
    width: 85px;
  }

  .t3 {
    width: 85px;
  }

  .t4 {
    width: 45px;
  }

  .t5 {
    width: 45px;
  }
}
