@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.wrapper {
  @include flexbox.flexbox(end, center);
  padding: 10px 15px;
  margin-bottom: 5px;

  .heart {
    @include flexbox.flexbox(center, center);
    width: 65px;
    height: 35px;
    margin-right: 10px;
    border: 1.5px solid colors.$DARK_GRAY3;
    border-radius: 20px;

    svg {
      width: 20px;
      height: 20px;
      margin-right: 5px;
      fill: colors.$DARK_GRAY3;
    }

    span {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .close {
    @include flexbox.flexbox(center, center);
    width: 35px;
    height: 35px;
    border: 1.5px solid colors.$DARK_GRAY3;
    border-radius: 50%;

    svg {
      color: colors.$DARK_GRAY3;
    }
  }
}
