@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.wrapper {
  padding: 10px 15px;

  h2 {
    margin-bottom: 15px;

    span:nth-child(1) {
      font-size: 30px;
      font-weight: bold;
    }

    span:nth-child(2) {
      font-size: 18px;
      white-space: nowrap;
    }
  }

  dl {
    > div {
      display: flex;

      @include responsive.after(SD) {
        margin-bottom: 5px;
        font-size: 18px;
      }
    }

    dt {
      width: 40px;
      color: colors.$GRAY2;
    }
  }
}
