@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';

.date {
  @include flexbox.flexbox(between, center);
  padding-left: 4px;
  margin-bottom: 6px;

  > div {
    font-size: 12px;
    color: colors.$GRAY2;
  }
}

.time {
  @include flexbox.flexbox(between, center);

  .start,
  .end {
    font-size: 30px;
  }

  .lead {
    font-size: 12px;
    color: colors.$GRAY2;
  }

  .active {
    font-weight: bold;
    color: colors.$BLUE;
  }
}

@include responsive.after(SD) {
  .date {
    > div {
      font-size: 16px;
    }
  }

  .time {
    .start,
    .end {
      font-size: 50px;
    }

    .lead {
      font-size: 16px;
    }
  }
}
