@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';

.wrapper {
  display: flex;
  width: 290px;
  margin-bottom: 20px;
  background-color: colors.$WHITE;
  border-radius: 5px;

  .time {
    @include flexbox.flexbox(center, center);
    flex-direction: column;
    width: 35%;

    time:first-child {
      padding-bottom: 5px;
      font-size: 20px;
      font-weight: bold;
    }

    time:last-child {
      font-size: 14px;
      color: colors.$GRAY2;
    }
  }

  .temp {
    @include flexbox.flexbox(center, center);
    width: 25%;
    font-size: 25px;
    font-weight: bold;

    span {
      font-weight: 100;
    }
  }

  .weather {
    @include flexbox.flexbox(center, center);
    width: 40%;
  }
}
